@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
  color: black;
}
body {
  background-color: #efefef;
  color: white; 
  margin: 0px;
}
.header{
  background: #0080ff; 
  font-weight: 400;
  box-shadow: #f7f7f7 2px 5px 6px;
  transition: 0.3s;
}
.transition:hover{
  color: #0080ff;
  background: white;
  transition: 0.3s;
}

.main-text{
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
    padding: 10px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  text-align: justify;
  font-weight: 200;
  border: none;
  box-shadow: #d7d7d7 5px 5px 8px;
  padding: 20px;
  border-radius: 5px;
  transition: 0.3s;
}
.content:hover{
  scale: 102%;
  transition: 0.3s;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
